Flask
requests
pyproj
geopandas
pandas
numpy
rasterio
networkx
shapely
scipy

pyrosm
# Notes:
# - pyrosm is used by data-prep/export_full_network_from_pbf.py
# - pyrosm is often easiest to install in Python 3.10 or older, typically in a Conda-based GIS environment